.container {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 250px;
}

.center {
  width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.6);
  min-height: 245px;
}

.center h1 {
  font-weight: lighter;
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field textarea {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.txt_field textarea:focus ~ span::before,
.txt_field textarea:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: rgb(92, 57, 172);
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

.submit {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
  margin-bottom: 40px;
  margin-top: 20px;
}

.submit:hover {
  border-color: #2691d9;
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.error {
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
  background-color: red;
}

.error label {
  margin: 10px 10px;
  color: white;
  font-weight: bold;
}

.imgContainer {
  max-width: 400px;
  background: transparent;
  border-radius: 10px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.textField::after {
  width: 100%;
}

@media (max-width: 700px) {
  .container {
    margin-left: 0px;
  }
  .imgContainer {
    display: none;
  }
  .center {
    margin: 25px;
  }
}

@media (max-width: 400px) {
  .center {
    margin: 10px;
  }
}
