.toggle_button {
  height: 24px;
  width: 36px;
  background: transparent;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  padding: 0;
  box-sizing: border-box;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
  width: 30px;
  height: 2px;
  background: white;
}
@media (min-width: 700px) {
  .toggle_button {
    display: none;
  }
}
