.side_drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
}

.side_drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column;
  top: 20%;
  margin-top: 40%;
}

.side_drawer li {
  margin: 0.5rem 0;
}

.side_drawer_link {
  color: linear-gradient(120deg, #2980b9, #8e44ad);;
  text-decoration: none;
  font-size: 1.2rem;
}

.side_drawer_link:hover,
.side_drawer_link:active {
  color: orange;
}
