.toolbar {
  position: relative;
  top: 0;
  left: 0;
  background-color: #383b3d;
  width: 100%;
  height: 80px;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.imgContainer {
  position: absolute;
  top: 5%;
  height: 140px;
  width: 140px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.iconContainer {
  
  height: 30px;
  width: 30px;
  margin: 10px;
}
.iconContainer img {
  outline: white !important;
  width: 100%;
  height: 100%;
}

.toolbar_logo {
  margin-left: 1rem;
}

.toolbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.toolbar_navigation_items li {
  padding: 0 0.5rem;
}
.toolbar_navigation_link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.toolbar_navigation_link:hover,
.toolbar_navigation_link:active {
  color: #fa9237;
}

@media (max-width: 700px) {
  .toolbar_navigation_items {
    display: none;
  }
  .toolbar_logo {
    display: none;
  }
}
